
body {
    background-color: #65ce9f;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    background-color: peachpuff;
    padding: 1em;
    text-align: center;
}

.choices {
    text-align: center;
}

.choice {
    font-size: 5em;
    background: none;
    border-style: none;
    cursor: pointer;
    margin: 3vw 3vw 3vw 3vw; /* top right bottom left */
    transition: 300ms;
}

.choice:hover {
    transform: scale(1.25);
}

/* flex-CONTAINER => display: flex */
.results {
    font-size: 2em;
    display: flex;
    text-align: center;
    /*
    justify-content (horizontally): space-between;
    align-items (vertically): center;
    ! alignment is inverted when flex-direction is changed

    gap (the flex version of margin): <some-css-unit>
    */
}

/* flex-ITEMS => flex: grow shrink basis 
 * basis refers to the WIDTH in a row-directed or HEIGHT in a column-directed container
 * note: block-level elemnts default to the full width of their parent, 
 *   changing the container's flex-direction: column the block-level elements then default to the height of their content
 *   (potential chaos when their is no content)
 */
.results div {
    flex: 1 1 0%; /* default => factor 1 means items will grow/shrink evenly */
}

.results .match {
    font-size: 1.5em;
    flex: 2;
}
.results .player {
    text-align: right;
}
.results .computer {
    text-align: left;
}

.score {
    font-size: 2.5em;
}

div {
    --border: solid tomato;
}